*{
    margin: 0;
    padding: 0;
}
div.block1{
    background-color: #290000;
    width: 1200px;
    height: 120px;
}
p.mod{
    padding-left: 120px;
    padding-top: 50px;  
    font-size: 28px;
    color:white;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
p.psd{
    padding-left: 120px;
    padding-top: 75px;
    font-size: 12px;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
p.home{
    left: 450px;
    top:50px;
     position: absolute;
     color: white;
     font-size: 13px;
     border: 1px solid black;
     background-color: #76c38f;
     border-radius: 10px;
     padding: 10px;
    transition: all 1s;
}

p.home:hover {
    padding: 10px 30px;
}



p.style{
    padding-left: 550px;
    padding-top: 60px;
    position: absolute;
    color: white;
    font-size: 13px;

}


p.style{
    animation-name: li-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}



p.full{
    padding-left: 670px;
    padding-top: 60px;
    position: absolute;
    color: white;
    font-size: 13px;
}
p.drop{
    padding-left: 790px;
    padding-top: 60px;
    position: absolute;
    color: white;
    font-size: 13px;
}
p.port{
    padding-left: 910px;
    padding-top: 60px;
    position: absolute;
    color: white;
    font-size: 13px;
}
p.gall{
    padding-left: 1020px;
    padding-top: 60px;
    position: absolute;
    color: white;
    font-size: 13px;

}
div.block2{
width: 1200px;
height: 480px;
background-color: #290000;

}
p.curs{
    font-size: 46px;
    color: white;
   width: 290px;
    white-space: normal;
    padding-left: 180px;
    padding-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p.null{
    font-size: 12px;
    color: #979797;
    white-space: normal;
    width: 320px;
    padding-left: 180px;
    margin-top: 35px;
   
}
p.read{
    font-size: 13px;
    color: white;
    border: 1px solid black;
    background-color: #76c38f;
    border-radius: 10px;
    left: 180px;
    position: absolute;
    margin-top: 25px;
    padding: 10px;
}
p.round{
    width: 380px;
    height: 380px;
    border-radius: 50%;
    border: 20px solid #6b6b6b;
    line-height: 380px;
    text-align: center;
  position: relative;
  left: 590px;
  bottom: 270px;
  background-color: #333333;
  font-size: 26px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.block3{
    background-color: #660000;
    width: 1200px;
    height: 975px;
    position: relative;
}

.box1{

    position: absolute;
    width: 225px;
    height: 305px;
   background-color: white;
    top: 60px;
    left: 120px;
    z-index: 1;
}


.box2{
border: 1px solid #333333 ;
position: absolute;
width: 120px;
height: 120px;
background: #333333;
top:80px;
left: 170px;
text-align: center;
line-height: 120px;
font-size: 18px;
font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 2;
}
.ser{
padding-top: 160px;
font-size: 32px;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}
.ves{
    font-size: 12px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
}
.box22{

    position: absolute;
    width: 225px;
    height: 305px;
    background-color: white;
    top: 60px;
    left: 365px;
    z-index: 99;
}


.box23{
    border: 1px solid #333333 ;
position: absolute;
width: 120px;
height: 120px;
background: #333333;
top:22px;
left: 55px;
text-align: center;
line-height: 120px;
font-size: 18px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.ser1{
    padding-top: 160px;
font-size: 32px;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}
.ves1{
    font-size: 12px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
}
.box32{

    position: absolute;
    width: 225px;
    height: 305px;
    background: white;
    top: 60px;
    left: 610px;
    z-index: 99;
}
.box33{
    border: 1px solid #333333 ;
    position: absolute;
    width: 120px;
    height: 120px;
    background: #333333;
    top:22px;
    left: 55px;
    text-align: center;
    line-height: 120px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ser2{
    padding-top: 160px;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.ves2{
    font-size: 12px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
}
.box42{

    position: absolute;
    width: 225px;
    height: 305px;
    background: white;
    top:0px;
    left: 245px;
    z-index: 99;
}
.box43{
    border: 1px solid #333333 ;
    position: absolute;
    width: 120px;
    height: 120px;
    background: #333333;
    top:22px;
    left: 55px;
    text-align: center;
    line-height: 120px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ser3{
    padding-top: 160px;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
/*.ves3{
    ------------ copu ves2 ?????????????????????????????????????????????
    
}*/
.block4{
    top:405px;
    left: 485px;
    font-size: 32px;
     position: absolute;
     color: white;
     border: 5px solid #333333;
     background-color: #333333;
     border-radius: 15px; 
     z-index: 1;
}
.line{
    border-bottom: 2px solid #333333;
    height: 428px;
    width: 960px;
    position: absolute;
    left: 120px;
}
.box0{
    width: 290px;
    height: 190px;
    border: 5px solid white;
    left: 120px;
    top:485px;
    position: absolute;
    background-color:#333333 ;
}
.lor{
    font-size: 14px;
    position: absolute;
    left: 0px;
    top: 152px;
    color:white;
    border: 1px solid black;
    background-color: black;
    width: 287px;
    height: 35px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
   line-height: 35px;
    
}
.box01{
    width: 290px;
    height: 190px;
    border: 5px solid white;
    left: 450px;
    top:485px;
    position: absolute;
    background-color:#333333 ;
}
.lor1{
    font-size: 14px;
    position: absolute;
    left: 0px;
    top: 152px;
    color:white;
    border: 1px solid black;
    background-color: black;
    width: 287px;
    height: 35px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
   line-height: 35px;
}
.box02{
    width: 290px;
    height: 190px;
    border: 5px solid white;
    left: 780px;
    top:485px;
    position: absolute;
    background-color:#333333 ;
}
.lor2{
    font-size: 14px;
    position: absolute;
    left: 0px;
    top: 152px;
    color:white;
    border: 1px solid black;
    background-color: black;
    width: 287px;
    height: 35px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
   line-height: 35px;
}
.box03{
    width: 290px;
    height: 190px;
    border: 5px solid white;
    left: 120px;
    top:715px;
    position: absolute;
    background-color:#333333 ;
}
.lor3{
    font-size: 14px;
    position: absolute;
    left: 0px;
    top: 152px;
    color:white;
    border: 1px solid black;
    background-color: black;
    width: 287px;
    height: 35px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
   line-height: 35px;
}
.box04{
    width: 290px;
    height: 190px;
    border: 5px solid white;
    left: 450px;
    top:715px;
    position: absolute;
    background-color:#333333 ;
}
.lor4{
    font-size: 14px;
    position: absolute;
    left: 0px;
    top: 152px;
    color:white;
   
    width: 287px;
    height: 35px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
   line-height: 35px;
}
.box05{
    width: 290px;
    height: 190px;
    border: 5px solid white;
    left: 780px;
    top:715px;
    position: absolute;
    background-color:#333333 ;
}
.lor5{
    font-size: 14px;
    position: absolute;
    left: 0px;
    top: 152px;
    color:white;
    border: 1px solid black;
    background-color: black;
    width: 287px;
    height: 35px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
   line-height: 35px;
}
.block5{
    width: 1200px;
    height: 450px;
    background-color:#333333;
    position: relative;
}
.text{
position: absolute;
font-size: 16px;
color: white;
left: 120px;
top:40px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.text1{
    position: absolute;
    color: #76c38f;
    top:40px;
    font-size: 13px;
}
.text2{
    position: absolute;
    color: #666666;
    top: 20px;
    font-size: 10px;
}
.text3{
    position: absolute;
    font-size: 10px;
    color: #666666;
    top: 20px;

}
.text4{
    position: absolute;
   top: 20px;
   font-size: 13px;
}
.text5{
margin-top: 20px;
font-size: 13px;
color: #76c38f;
}
.block6{
    position: absolute;
    margin-left: 365px;
    padding-top: 40px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div.block06{
    position: absolute;
    margin-left: 365px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 80px;
    font-size: 13px;
    line-height: 40px;
    color: #76c38f;
 border-bottom: 2px solid black;
}
.block7{
    margin-left: 610px;
    position: absolute;
    padding-top: 40px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.block07{
    position: absolute;
    margin-left: 610px;
    padding-top: 90px;
    width: 210px;
    font-size: 13px;
    color: #979797;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
}

.box04:hover {
    border-color:  #76c38f;
}
.box0:hover {
    border-color: #76c38f;
}
.box01:hover {
    border-color: #76c38f;
}
.box02:hover {
    border-color: #76c38f;
}
.box03:hover {
    border-color: #76c38f;
}
.box05:hover {
    border-color: #76c38f;

}
.box1:hover{
    background-color: #76c38f;
}
.box32:hover{
    background-color: #76c38f;
}
.box22:hover{
    background-color: #76c38f;}
.box42:hover{
    background-color: #76c38f;}



form{
    position: absolute;
    left: 855px;
}
.titles{
    width: 140px;
    float: left;
top: 55px;}




#form_message{
margin-top: 40px;
    border-radius: 5px;

    width: 320px;
    height:330px;
}

#form_message input,textarea{
    border-radius: 10px;
    width: 225px;
    background-color: #222222;
    margin-top: 10px;
    height: 35px;

}

input#button{
width: 77px;
    float: left;
font-size: 12px;
    background-color: #76c38f;
}

}

#form_message p{
    color: white;
}
 p.contact{
color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
     padding-bottom: 20px;
}

























/*.box1{
    display: inline;
    position: absolute;
    width: 225px;
    height: 305px;
    background: white;
    top: 60px;
    left: 120px;

.box0{
    width: 290px;
    height: 190px;
    border: 5px solid white;
    left: 120px;
    top:485px;
    position: absolute;
    background-color:#333333 ;*/






/*.block3 div{
    display: inline-block;
}

div div{
     background: white;
  color: black;
  width: 225px;
  height: 305px;
  margin-top: 60px;
  margin-left: 20px;

}
.block3{
    text-align: center;   
font-size: 32px;

}


main.block4{
    height: 545px;
    width: 1200px;
    background-color: #660000;
    border-top: 20px;
}
.block4 p{
    display: inline-block;
    margin-left: 60px;
}
main p{
    background: white;
    color: black;
    width: 300px;
    height: 200px;
    margin-top: 60px;
  margin-left: 120px;
  border: 5px solid #353535;
}*/









